PORT=3000

MONGODB_URI=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_USERNAME=

WEATHER_API_KEY=

API_URL="Backend URL" || http://localhost:3000

FRONTEND_URL="Frontend URL" || http://localhost:5173

JWT_SECRET=
